<div class="news-container">
  <mat-icon routerLink="/news" class="go-back">
    {{ "chevron_left" }}
  </mat-icon>
  <h2>{{ newsDetail.title }}</h2>
  <div class="img-container">
    <img src="{{ newsDetail.image }}" />
  </div>

  <div class="news-container-text">
    <div class="subtitle">
      <span>{{ newsDetail.subtitle }}</span
      ><span>{{ newsDetail.creation_date | date : "dd-MM-yyyy" }}</span>
      <ng-container *ngIf="newsDetail.is_favorite"
        ><mat-icon class="heart">
          {{ "favorite" }}
        </mat-icon></ng-container
      >
    </div>
    <div class="content">
      {{ newsDetail.short_description }}
    </div>
    <div class="body">
      {{ newsDetail.short_description }}
    </div>

    <div class="comments-container" *ngFor="let comment of comments?.results">
      <hr />

      <div class="comments-header">
        <div class="comments-header-profile">
          <img src="./assets/images/coment-picture.png" />
          <div class="comments-header-profile-text">
            <span class="comments-header-profile-text-name">{{
              comment.user?.fullname
            }}</span>
            <span
              class="comments-header-profile-text-data"
              *ngIf="comment.user?.departments"
            >
              <ng-container
                *ngFor="let department of comment.user?.departments"
              >
                {{ department.name }}
              </ng-container>
            </span>
          </div>
        </div>
        <div class="comments-header-date">
          <!-- <span>Hace 3 días</span> -->
        </div>
      </div>
      <div class="comments-body">
        <p>{{ comment.text }}</p>
      </div>
    </div>
  </div>

  <form
    class="comment-form"
    [formGroup]="commentForm"
    (ngSubmit)="onComment()"
    autocomplete="off"
  >
    <div class="field comment-field">
      <mat-icon
        class="material-icons-outlined"
        (click)="onComment()"
        [ngClass]="{ red: commentForm.get('comment')?.value != '' }"
      >
        {{ "send" }}
      </mat-icon>

      <input
        formControlName="comment"
        #comment
        type="text"
        placeholder="Escribe tu comentario"
        (keyup)="toggleShowSend()"
      />

      <label for="comment" [class.filled]="commentForm.get('comment')?.value"
        >Escribe tu comentario</label
      >
      <mat-hint align="end">{{ comment.value.length }} / 250</mat-hint>
      <span
        *ngIf="isValidFielComprobation(commentForm, 'comment')"
        class="error"
        >{{ getFieldError(commentForm, "comment") }}</span
      >
    </div>
  </form>
</div>
