<div class="card-container">
  <div class="img-gradient">
    <img src="{{ news.img }}" />
    <h2 class="title">{{ news.title }}</h2>
  </div>
  <div class="subtitle">
    <span>{{ news.subtitle }}</span
    ><span>{{ news.date }}</span>
  </div>
  <div class="content">
    {{ news.content }}
  </div>
  <hr />
  <div class="footer">
    <div class="tags">
      <span *ngFor="let tag of news.tags">{{ tag }}</span>
    </div>
    <div class="icons">
      <mat-icon (click)="isFavorite()">
        {{ favorite ? "favorite" : "favorite_border" }}
      </mat-icon>
      <mat-icon>
        {{ "share" }}
      </mat-icon>
    </div>
  </div>
</div>
