<div class="card-container">
  <div class="img-gradient">
    <img src="https://rickandmortyapi.com/api/character/avatar/265.jpeg" />
    <h2 class="title">TITLE!</h2>
  </div>
  <div class="subtitle"><span>Nueva oficina</span><span>22-11-2021</span></div>
  <div class="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam massa elit,
    consectetur vitar lorem sed.
  </div>
  <hr />
  <div class="footer">
    <div class="tags"><span>Ocio</span></div>
    <div class="icons">
      <mat-icon>
        {{ "favorite_border" }}
      </mat-icon>
      <mat-icon>
        {{ "share" }}
      </mat-icon>
    </div>
  </div>
</div>
