<div class="card-container">
  <div [routerLink]="['/news', news.id]" class="img-gradient">
    <ngx-skeleton-loader
      *ngIf="!contentLoaded"
      [theme]="{ height: '175px','border-radius': '32px 32px 0 0', }"
    >
    </ngx-skeleton-loader>
    <img
      [hidden]="!contentLoaded"
      (load)="contentLoaded = true"
      src="{{ news.image }}"
    />
    <h2 [routerLink]="['/news', news.id]" class="title">
      {{ news.title }}
    </h2>
  </div>
  <div class="subtitle">
    <span class="subtitle-text" [routerLink]="['/news', news.id]">{{
      news.title
    }}</span
    ><span class="subtitle-date">{{
      news.creation_date | date : "dd-MM-yyyy"
    }}</span>
  </div>
  <div class="content">
    {{ news.short_description }}
  </div>
  <hr />
  <div class="footer">
    <div class="tags">
      <span (click)="clickTag(news.category.name)">{{
        news.category.name
      }}</span>
    </div>
    <div class="icons">
      <!-- <mat-icon (click)="isFavorite()">
        {{ favorite ? "favorite" : "favorite_border" }}
      </mat-icon> -->
      <mat-icon class="heart" (click)="isFavorite()">
        {{ news.is_favorite ? "favorite" : "favorite_border" }}
      </mat-icon>
      <mat-icon>
        {{ "share" }}
      </mat-icon>
    </div>
  </div>
</div>
