.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(358px, max-content));
  grid-gap: 16px;
  justify-content: center;
  padding: initial;

  &-aligned {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
}
