<form
  class="register-form"
  [formGroup]="registerForm"
  (ngSubmit)="onRegister()"
  autocomplete="off"
>
  <div class="field departments-field">
    <mat-icon> {{ "chevron_right" }} </mat-icon>
    <input
      #departmentInput
      formControlName="departments"
      type="text"
      placeholder="Departamentos"
      name="Departamentos"
      (click)="openDialog()"
      (focus)="openDialog()"
      readonly
    />
    <!-- {{ registerForm.controls["departments"].value | json }} -->

    <label
      for="departments"
      [class.filled]="registerForm.get('departments')?.value"
      >Departamentos</label
    >
    <span *ngIf="isValidField('departments')" class="error">{{
      getFieldError("departments")
    }}</span>
  </div>

  <div class="field name-field">
    <input
      #focusInput
      formControlName="name"
      type="text"
      placeholder="Nombre"
      name="name"
    />
    <label for="name" [class.filled]="registerForm.get('name')?.value"
      >Nombre</label
    >
    <span *ngIf="isValidField('name')" class="error">{{
      getFieldError("name")
    }}</span>
  </div>

  <div class="field mail-field">
    <input formControlName="mail" type="text" placeholder="Mail" name="mail" />
    <label for="mail" [class.filled]="registerForm.get('mail')?.value"
      >Mail</label
    >
    <span *ngIf="isValidField('mail')" class="error">{{
      getFieldError("mail")
    }}</span>
  </div>

  <div class="field passw-field">
    <mat-icon matSuffix (click)="toggleShowPassword()">
      {{ isShowPassword ? "visibility_off" : "visibility" }}
    </mat-icon>
    <input
      formControlName="password"
      [type]="isShowPassword ? 'text' : 'password'"
      placeholder="Password"
    />

    <label for="password" [class.filled]="registerForm.get('password')?.value"
      >Password</label
    >
    <span *ngIf="isValidField('password')" class="error">{{
      getFieldError("password")
    }}</span>

    <div class="password-checks">
      <span [class.approved]="isMayus(registerForm.controls['password'].value)"
        >· MAYUSCULA</span
      >
      <span [class.approved]="isMinus(registerForm.controls['password'].value)"
        >· minuscula</span
      >
      <span
        [class.approved]="hasLenght(registerForm.controls['password'].value)"
        >· 8 CARÁCTERES</span
      >
      <span
        [class.approved]="hasNumbers(registerForm.controls['password'].value)"
        >· NÚMEROS</span
      >
      <span
        [class.approved]="
          hasEspecialCharacter(registerForm.controls['password'].value)
        "
        >· CARÁCTER ESPECIAL</span
      >
    </div>
  </div>

  <button
    #focusInput
    [disabled]="registerForm.invalid"
    class="button button-primary"
  >
    Registrarse
  </button>

  <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
</form>
