<form
  class="forgotten-pw-form"
  [formGroup]="forgottenPasswordForm"
  (ngSubmit)="onPwRecovery()"
  autocomplete="off"
>
  <div class="field mail-field">
    <input formControlName="mail" type="text" placeholder="Mail" name="mail" />
    <label for="mail" [class.filled]="forgottenPasswordForm.get('mail')?.value"
      >Mail</label
    >

    <span
      *ngIf="isValidFielComprobation(forgottenPasswordForm, 'mail')"
      class="error"
      >{{ getFieldError(forgottenPasswordForm, "mail") }}</span
    >
  </div>

  <div class="instructions-text">
    <p>
      Introduce tu mail y recibirás un correo para reestablecer tu contraseña.
    </p>
    <p style="font-size: 10px">
      Mails válidos: alejandro@rudo.com, rafa@rudo.com, william@rudo.com
    </p>
  </div>

  <div>
    <button
      (click)="openDialog()"
      [disabled]="forgottenPasswordForm.invalid"
      class="button button-primary"
    >
      Continuar
    </button>
  </div>
</form>
