<section class="forgotten-mail-dialog">
  <ng-container *ngIf="isMailExisting(); else noExisting">
    <p>
      Vas a recibir un mail de recuperación, revisa tu bandeja de entrada y en
      Spam.
    </p>
  </ng-container>

  <ng-template #noExisting>
    <p>
      No hay ninguna cuenta registrada con este mail, revisa que has introducido
      el mail correctamente.
    </p>
  </ng-template>
</section>

<div mat-dialog-actions align="end">
  <button class="dialog-confirm-button" mat-button (click)="onSave()">
    Aceptar
  </button>
</div>
