<section class="example-section" [formGroup]="departments">
  <div class="departments-header">
    <div></div>
    <h4>Departamentos</h4>
    <mat-icon (click)="onClose()"> {{ "close" }} </mat-icon>
  </div>

  <div class="departments-checks-list">
    <mat-checkbox
      *ngFor="let department of importedDepartmentsList"
      formControlName="{{ department }}"
      >{{ department }}</mat-checkbox
    >
  </div>
</section>

<!-- <section class="example-section" [formGroup]="departments">
  <h4>You chose:</h4>
  {{ departments.value | json }}
</section> -->

<div mat-dialog-actions>
  <button mat-button (click)="onSave()">Aceptar</button>
</div>
