<form
  class="new-pw-form"
  [formGroup]="newPasswordForm"
  (ngSubmit)="onNewPwRecovery()"
  autocomplete="off"
>
  <div class="field passw-field">
    <mat-icon matSuffix (click)="toggleShowPassword()">
      {{ isShowPassword ? "visibility_off" : "visibility" }}
    </mat-icon>
    <input
      formControlName="actualPassword"
      name="actualPassword"
      [type]="isShowPassword ? 'text' : 'password'"
      placeholder="Contraseña actual"
    />

    <label
      for="actualPassword"
      [class.filled]="newPasswordForm.get('actualPassword')?.value"
      >Contraseña actual</label
    >
    <span
      *ngIf="isValidFielComprobation(newPasswordForm, 'actualPassword')"
      class="error"
      >{{ getFieldError(newPasswordForm, "actualPassword")
      }}<mat-icon class="warning-icon">{{ "warning" }}</mat-icon></span
    >
  </div>

  <div class="field passw-field">
    <mat-icon matSuffix (click)="toggleShowPasswordB()">
      {{ isShowPasswordB ? "visibility_off" : "visibility" }}
    </mat-icon>
    <input
      formControlName="newPassword"
      [type]="isShowPasswordB ? 'text' : 'password'"
      placeholder="Contraseña nueva"
    />

    <label
      for="newPassword"
      [class.filled]="newPasswordForm.get('newPassword')?.value"
      >Contraseña nueva</label
    >
    <span
      *ngIf="isValidFielComprobation(newPasswordForm, 'newPassword')"
      class="error"
      >{{ getFieldError(newPasswordForm, "newPassword")
      }}<mat-icon class="warning-icon">{{ "warning" }}</mat-icon></span
    >
  </div>

  <div class="field passw-field">
    <mat-icon matSuffix (click)="toggleShowPasswordC()">
      {{ isShowPasswordC ? "visibility_off" : "visibility" }}
    </mat-icon>
    <input
      formControlName="repeatNewPassword"
      name="repeatNewPassword"
      [type]="isShowPasswordC ? 'text' : 'password'"
      placeholder="Repite contraseña"
    />

    <label
      for="repeatNewPassword"
      [class.filled]="newPasswordForm.get('repeatNewPassword')?.value"
      >Repite contraseña</label
    >
    <span
      *ngIf="isValidFielComprobation(newPasswordForm, 'repeatNewPassword')"
      class="error"
      >{{ getFieldError(newPasswordForm, "repeatNewPassword")
      }}<mat-icon class="warning-icon">{{ "warning" }}</mat-icon></span
    >
  </div>

  <div>
    <button
      (click)="openDialog()"
      [disabled]="newPasswordForm.invalid"
      class="button button-primary"
    >
      Guardar contraseña nueva
    </button>
  </div>
</form>
