<header [expanded]="true"></header>
<legal-texts>
  <h1>FAQ</h1>

  <h4>¿Cómo puedo registrarme en el sitio?</h4>
  <p>
    Para registrarte en nuestro sitio, sigue estos sencillos pasos: 1. Accede a
    nuestra página de registro. 2. Rellena el formulario de registro con tu
    información personal. 3. Confirma tu dirección de correo electrónico
    mediante el enlace que te enviaremos. 4. ¡Listo! Ahora puedes acceder a tu
    cuenta con las credenciales que ingresaste durante el registro.
  </p>
  <h4>¿Cómo puedo restablecer mi contraseña?</h4>
  <p>
    Si olvidaste tu contraseña, puedes restablecerla siguiendo estos pasos: 1.
    Dirígete a la página de inicio de sesión. 2. Haz clic en el enlace
    "¿Olvidaste tu contraseña?" debajo del campo de contraseña. 3. Ingresa tu
    dirección de correo electrónico asociada a tu cuenta. 4. Recibirás un correo
    electrónico con las instrucciones para restablecer tu contraseña. 5. Sigue
    las instrucciones del correo electrónico y crea una nueva contraseña segura.
    6. Una vez que hayas cambiado tu contraseña, podrás acceder a tu cuenta con
    la nueva contraseña.
  </p>
  <h4>¿Cómo puedo contactar al servicio de atención al cliente?</h4>
  <p>
    Si necesitas ayuda o tienes alguna pregunta, nuestro equipo de servicio al
    cliente está aquí para ayudarte. Puedes contactarnos de las siguientes
    formas: - Llamando a nuestro número de atención al cliente: [Número de
    teléfono]. - Enviando un correo electrónico a nuestro equipo de soporte:
    [Correo electrónico de soporte]. - Utilizando el formulario de contacto en
    nuestro sitio web: [Enlace al formulario de contacto]. Nuestro equipo estará
    encantado de asistirte y responder a todas tus consultas en el menor tiempo
    posible.
  </p>
  <br />
  <p>
    Espero que esta información sea útil. Si tienes alguna otra pregunta, no
    dudes en contactarnos. Estamos aquí para ayudarte.
  </p>
</legal-texts>
