<header [expanded]="true"></header>
<legal-texts>
  <h1>Política de privacidad</h1>

  <h4>¿Qué información recopilamos?</h4>
  <p>
    En nuestra política de privacidad, nos comprometemos a proteger y respetar
    tu privacidad. Recopilamos la siguiente información: - Información personal
    que nos proporcionas al registrarte en nuestro sitio, como tu nombre,
    dirección de correo electrónico, y datos de contacto. - Información
    recopilada automáticamente cuando visitas nuestro sitio, como tu dirección
    IP, tipo de navegador, y páginas visitadas. - Información sobre tu
    interacción con nuestro sitio, como tus preferencias de configuración y
    actividades realizadas.
  </p>
  <h4>¿Cómo utilizamos tu información?</h4>
  <p>
    Utilizamos la información recopilada para los siguientes propósitos: -
    Brindar y mejorar nuestros servicios, personalizando tu experiencia en
    nuestro sitio. - Comunicarnos contigo, responder a tus consultas y brindarte
    información relevante. - Analizar el uso de nuestro sitio y realizar
    investigaciones para mejorar nuestros productos y servicios. - Cumplir con
    nuestras obligaciones legales y proteger nuestros derechos legales.
  </p>
  <h4>¿Compartimos tu información con terceros?</h4>
  <p>
    Respetamos tu privacidad y no compartimos tu información personal con
    terceros sin tu consentimiento, excepto en los siguientes casos: - Cuando
    sea necesario para proporcionarte los servicios solicitados, como procesar
    pagos o enviar comunicaciones por correo electrónico. - Cuando estemos
    legalmente obligados a hacerlo para cumplir con las leyes aplicables,
    regulaciones gubernamentales o procesos legales. - Con proveedores de
    servicios externos que nos ayudan a operar nuestro sitio y brindar nuestros
    servicios, sujetos a acuerdos de confidencialidad.
  </p>
  <h4>¿Cómo protegemos tu información?</h4>
  <p>
    Implementamos medidas de seguridad adecuadas para proteger tu información
    contra accesos no autorizados, pérdida o divulgación. Sin embargo, ten en
    cuenta que ninguna transmisión de datos a través de Internet o sistema de
    almacenamiento es completamente segura.
  </p>
  <h4>¿Cuáles son tus derechos de privacidad?</h4>
  <p>
    Tienes derechos sobre tus datos personales, que incluyen: - Acceder,
    corregir y actualizar tu información personal. - Solicitar la eliminación de
    tu información personal, sujeto a nuestras obligaciones legales. - Retirar
    tu consentimiento para el procesamiento de tu información personal. -
    Presentar una queja ante la autoridad de protección de datos competente.
  </p>
  <h4>¿Cómo contactarnos?</h4>
  <p>
    Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad o
    el manejo de tus datos personales, no dudes en contactarnos a través de los
    canales de contacto proporcionados en nuestro sitio.
  </p>
  <br />
  <p>
    Nos comprometemos a proteger tu privacidad y a cumplir con todas las leyes y
    regulaciones aplicables relacionadas con la privacidad y protección de
    datos.
  </p>
</legal-texts>
